* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  padding: 2rem;
}
main {
  flex-direction: column;
  padding: 1rem;
}
#create-note {
  background-color: inherit;
  height: 3rem;
  width: 4rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}
button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.error {
  border: 1px solid red;
}
li {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  width: 70vw;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}
.text-area p {
  font-size: 1.2rem;
  padding: 0.4rem;
}
.note-topbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  border-bottom: 1px solid black;
}
.note-topbar span {
  font-size: 0.7rem;
  opacity: 0.9;
}
label:hover {
  cursor: pointer;
  opacity: 0.8;
}
.note-color {
  width: 0.5rem;
  border: none;
  background-color: inherit;
  visibility: hidden;
}
.note-topbar button {
  background-color: inherit;
  border: none;
  outline: none;
}
.note-topbar button:hover {
  cursor: pointer;
  opacity: 0.8;
}
footer {
  flex-direction: column;
  padding: 2rem;
}
